
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1c1a1d;
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
       display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Atkinson Hyperlegible Next';
}



h1 {
    margin: 0;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-weight: bold;
font-size: 10em;
line-height: 1em;
}

h2 {
  color: white;
  accent-color: white;
  font-weight: 500;
  font-size:5em;
  text-decoration: none;
  margin-block-end: 0.5em;

}

h4 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size:1.5em;
  margin-bottom: 0.5em;

}

.tight-vertical-spacing {
  margin: 0.5em;
}

.work-menu {
  margin-top: 10%;
  margin-bottom: 10%;
}

p {
    color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size:1em;
}

.hero-text {
  max-width: 50%;
  margin-top: 5em;
  margin-bottom: 8em;
}

nav {
  position: sticky;
  top: 0px;
  z-index: auto;
  padding: 20px;
  gap: 0px;
  background-color: rgb(28, 26, 29);
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
display: flex;
  justify-content: space-between;

}

ul.brief {
  color: white;
  display: inline;
  
}


ul li {
  margin-left: 2em;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

ul li a:hover {
  color: #ff4fbb;
  transition: 0.5s;
}

section {
  padding: 2em;
}

button {
  color: white;
  background-color: black;
  border-color: white;
  border-style: solid;
  text-decoration: none;
  padding: 10px;
  min-width: 7em;
  font-weight: 700 ;
  border-radius: 5px;
}

button:hover {
  color: white;
  background-color: black;
  border-color: white;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow:0 4px 8px 4px rgb(255, 114, 220)
}

.service-description {
  padding-bottom: 2em;
}

img {
  width: 10em
}

form {
  color: white;
}

input [type=text] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
}

input [type=text]:focus {
  background-color: #bb33ff;

}



input[type=button], input[type=submit], input[type=reset] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 5em;
  border-radius: 5px;
  cursor: pointer;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

img.large-image {
  width: 100%;
  padding-right: 5%;

}

#four-column {
  margin-top: 2em;
  max-width: 75%;
}


a {
  text-decoration: underline;
  text-decoration-color:rgb(28, 26, 29);
  
}

a:hover {
  text-decoration: underline;
  text-decoration-color:rgb(255, 114, 220);
  transition: 1s;
}

a:focus {
 color: rgb(255, 114, 220)    ;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}

img.full-image {
  display: flex;
  flex-direction: column;
  width: 50%;

}





footer {
  color: white;
  text-align: center;
  padding: 20px;
  
}
  