* {
  box-sizing: border-box;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  background-color: #1c1a1d;
  color: hsl(0, 0%, 10%);
  font-family: 'Atkinson Hyperlegible Next';
  width: 100%

}

section {
position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-direction:column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding-left:5%;
  padding-right:5%;
}
 
.wrapper {
  flex-direction:column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.spacer {
  display: flex;
  padding-left:5%;
  padding-right:5%;
  margin-bottom:5%;
  width: 100%;
  height:100vh; 
  flex-direction:column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.vertical-spacer{
margin-top: 5%;
margin-bottom: 5%;
width:100%;
}

.centered {
  display: flex;
  align-items: center;
}

.screen-100 {
display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100%;
}

h1 {
  
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size:10em;
  line-height: 1em;
  margin: 0;
}



h2 {
  color: white;
  accent-color: white;
  font-weight: 500;
  font-size: 4em;
  margin-bottom: 0em;
  margin-top: 0;
  
}

h3 {
  color: white;
  accent-color: white;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 0em;
  margin-top: 0;
  
}

h4 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 20px;
}

.grid-header {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size:10rem;
  line-height: 1em;
  margin: 0;
}

p {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 1em;
}

p.large-text {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 0
}

p.xl-text {
  color: white;
  font-weight: 300;
  font-size: 2.8rem;
  padding:10px
  
  
}

b {
  font-weight: 600;
}

a {
  color: white;
}


blockquote {
  color: white;
  font-style: italic;
  font-size: 0.9em;
}

.hero-text {
  margin-bottom: 2em
}

sup {
  font-size: 0.5em;
}
nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  gap: 0px;
  background-color: #1c1a1d;
  text-align: center;
  width:100%;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content:space-between;
 width:100%;
 
}

.contents {
  
  color: white;
  accent-color: white;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 0em;
  margin-top: 0;
  text-align: left;
}


footer {
 position: absolute;
  bottom: 0px;
  padding: 0%;
  gap: 0px;
  background-color: #1c1a1d;
  text-align: center;
  width:90%;
  display: flex;
  justify-content: center;
  align-self: center;
  border-color: white;
  border-top: solid white 0.2px;

}

.gallery-footer {
 position: relative;
  bottom: 0px;
  padding: 0%;
  gap: 0px;
  background-color: #1c1a1d;
  text-align: center;
  width:90%;
  display: flex;
  justify-content: center;
  align-self: center;
  border-color: white;
  border-top: solid white 0.2px;

}


.extra-small {
font-size: small;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
}

a {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
  transition: 1s;
}

a:hover {
  text-decoration: underline ;
  text-decoration-color: #ff4fbb;
  transition: 1s;
}

ul li {
list-style: circle;
list-style-type: circle;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 1.5rem;
}

ul li a:hover {
  color: #ff4fbb;
  transition: 0.5s;
  text-decoration: none;
}




.pink-mode {
color: #ff4fbb;
  background-color: #1c1a1d;
  border-style: none;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 7em;
  border-radius: 5px;
  font-family: 'Atkinson Hyperlegible Next';
  text-transform: lowercase;
  font-weight: 600;
  font-size: 1.5rem;
  
}

.primary-button {

  color: white;
  background-color: #1c1a1d;
  border-color: white;
  border-style: solid;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 7em;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1em;
  margin-top:2em;
  font-family: 'Atkinson Hyperlegible Next';
}

.secondary-button {
  color: white;
  background-color: black;
  border-style: solid;
  text-decoration: none;
  padding: 10px;
  min-width: 7em;
  font-weight: 700;
  border-radius: 5px;
}

.mailto-wrapper {
  position: relative;
}

.mailto-message {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}
.mailto-message:after {
  content: "";
}

.mailto-wrapper:hover .mailto-message {
  display: block;
}

.copy-link::before {
  content:'\f0c5';  
  font-family: 'Font Awesome 5 Free';
  font-size: 1em;
  font-weight: 900;
  padding-right: 10px
}

#ScrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  font-family: 'Atkinson Hyperlegible Next';
  border: none;
  outline: solid;
  outline-width: 2px;
  background-color: #1c1a1d;
  color: white;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  border-radius: 4px;
}

#ScrollBtn:hover {
  background-color: white;
  color: #1c1a1d;
  
  transition: 0.5s;
}

button:hover {
  color: black;
  background-color: white;
  transition: 1s;
  border-radius: 5px;
  
}

button.pink-mode:hover {
  color: white;
  background-color: #1c1a1d;
  transition: 1s;
  border-radius: 5px;
  
}

.icon-text {
  padding-left:5px;
  color: white;
}

.service-description {
  padding-bottom: 2em;
}



form {
  color: white;
}

input [type=text] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
}

input [type=text]:focus {
  background-color: #bb33ff;

}

.desc {
  color: white;
  font-size: 0.8em;
  font-style: italic;
}



input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 5em;
  border-radius: 5px;
  cursor: pointer;
}



div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

div.gallery-item {
  margin: 5px;
  
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid white;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}


.column-small {
  max-width: 35%;
  padding-right: 10px
  
}

.column-large {
  max-width:75%;
  padding-right: 5%;
  min-width:50%;
}

.gallery-image {
  display: block;
  width:100%;
}

.floating-image {
  display: flex;
position:absolute;
right: 20px;
z-index: 1;
width: 30%;


}

.container1 {
    display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: #1c1a1d;
  margin-bottom: 25px;
  margin-left: 5%;
  margin-right: 5%;
    row-gap:25px;
  column-gap:25px;
  justify-content: space-evenly;
}

.container1 div {
  background-color: #1c1a1d;
  text-align: left;
  align-content: center;
  font-size: 2rem;
 
}

.fullwidth {
grid-column: 1 / span 5;
}

.oneby2 {
grid-column: 1 / span 1;
grid-row: span 2;
}

.twoby1 {
grid-column: span 2;

}

.container {
  
  display: grid;
  grid-template-columns: repeat(8,1fr);
  background-color: #1c1a1d;
  margin-left: 5%;
  margin-right: 5%;
    row-gap:25px;
  column-gap:25px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}


.container div {
  background-color: #1c1a1d;
  text-align: left;
  align-content: center;
  font-size: 2rem;
 
}











.onebyone {
grid-column:  span 1;
}

.twobyone {
 grid-column:  span 2;
}

.twobytwo {
grid-column:  span 2;
  grid-row: span 2;
}

.threebytwo {
grid-column: span 3;
grid-row: span 2;
}

.threebythree {
grid-row: span 3;
  grid-column:  span 3;
}

.threebyfour {
grid-column:  span 4;
  grid-row: span 3;
}

.threebyfive {
grid-column:  span 3;
grid-row: span 5;
}

.fourbyone {
grid-column:  span 4;
}

.fourbyone-outline {
grid-column:  span 4;
border-style: solid;
 border-color: white;
}

.fourbytwo {
    grid-column:  span 4;
  grid-row: span 2;
}

.fourbytwo-outline {
  grid-column:  span 4;
  grid-row: span 2;
  border-style: solid;
 border-color: white;
}

.fivebyone {
  grid-column: span 5;
}

.fivebyone-outline {
grid-column: span 5;
border-style: solid;
 border-color: white;
}

.eightbyone {
grid-column: 1 / span 8;
}

.eightbyone-outline {
grid-column: 1 / span 8;
border-style: solid;
 border-color: white;
}


.column-full {
  height:100%;
}

.column {
  height:90%;
  
  padding-right: 2%;

}

@media only screen and (max-width: 500px) {
.row {
  display: flex;
  align-items: flex-start;
  flex-direction:column;
}



@media only screen and (max-height: 800px) {
h1 {
  
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size:7em;
  line-height: 1em;
  margin: 0;
}

h2 {
  font-size: 4em;
}

p.large-text {
  color: white;
  font-weight: 300;
  font-size: 1.25em;
}

nav {

  padding-top: 15px;
  padding-bottom: 15px;

}

ul li a {
  font-size: 1em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}



}

.small-image-text-block {
  width: 100%;
  padding-right: 5%;

}   


.chevron::after {
  content:'\f078';  
  font-family: 'Font Awesome 5 Free';
  font-size: 2rem;
  font-weight: 900;
}


.accordion {
  display: flex;
  font-family: 'Atkinson Hyperlegible Next';
  font-size: 1em;
  background-color: #1c1a1d;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  align-items: center;
  margin-left:0;
}

.accordion-small {
    display: flex;
  font-family: 'Atkinson Hyperlegible Next';
  font-size: 1em;
  background-color: #1c1a1d;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  align-items: center;
  margin-left:0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #1c1a1d;
  border-bottom: solid white;
  border-radius: 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  
  background-color: #1c1a1d;
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

.accordion:after {
  content: '\f078'; /* Unicode character for "plus" sign (+) */
  font-size: 1.5em;
  color: white;
  float: right;
   font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left:1em
}

.active:after {
 content: '\f077'; /* Unicode character for "plus" sign (+) */
  font-size: 1.5em;
  color: white;
  float: right;
   font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left:1em /* Unicode character for "minus" sign (-) */
}




#swatch {
  max-width: 100px;
  margin-right: 2em;
}

#swatch-row {
  margin-bottom: 2em;
}

#component-style {
  margin-right: 1em;
  max-width: 25%;
}

#img-row {
margin-right: 1%
}

#two-column {
  max-width: 50%;
}

.card {
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  padding: 1em;
}

.brief {
  list-style-type: circle;
  color: white;
  padding-left: 1em;

}

a {
  text-decoration: underline;
  text-decoration-color: rgb(28, 26, 29);

}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 114, 220);
  transition: 1s;
}

a:focus {
  color: rgb(255, 114, 220);
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}

img.full-image {
  display: flex;
  flex-direction: column;
  width: 100%;

}

img.large-image {
  display: flex;
  flex-direction: column;
  width: 80%;

}



.fullscreen-image {
  align-items: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}
  
.imagetest1 {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}



.carousel__content--wrapper {
  display: none;
  
}
.carousel:has(input#radio0:checked) .carousel__content--wrapper:nth-child(1) {
  display: contents;
}
.carousel:has(input#radio1:checked) .carousel__content--wrapper:nth-child(2) {
  display: contents;
}
.carousel:has(input#radio2:checked) .carousel__content--wrapper:nth-child(3) {
  display: contents;
}
.carousel:has(input#radio3:checked) .carousel__content--wrapper:nth-child(4) {
  display: contents;
}
.carousel:has(input#radio4:checked) .carousel__content--wrapper:nth-child(5) {
  display: contents;
}
.carousel:has(input#radio5:checked) .carousel__content--wrapper:nth-child(6) {
  display: contents;
}
.carousel:has(input#radio6:checked) .carousel__content--wrapper:nth-child(7) {
  display: contents;
}
.carousel__content {
  display: grid;
  grid-template-areas: 'p img n';
  grid-template-columns: auto  auto;
  place-items: center;
  
}
.carousel__nav {
  font-family: 'Atkinson Hyperlegible Next';
  font-weight: bold;
  padding: 15px;
  line-height: 1;
  background: #1c1a1d;
  color: white;
  border-radius: 0.2rem;
  border: 1.5px solid;
  user-select: none;
  transition: all 40ms;
}
.carousel__nav:active {
  background: white;
   color: #1c1a1d;
  transform: translate(0.2rem, 0.2rem);
  transition: all 0.2s;
}
.carousel__nav--prev {
  grid-area: p;
}
.carousel__nav--next {
  grid-area: n;
}
.carousel--img {
  grid-area: img;
  aspect-ratio: 0.7;
  overflow: hidden;
  margin: 5px;
}
.carousel--img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.carousel__pagination {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}
.carousel__pagination input {
  appearance: none;
  display: block;
  width: 1rem;
  height: 1rem;
  background: #1c1a1d;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0.1rem 0.1rem 0;
}
.carousel__pagination input:checked {
  background: white;
  border-color: white;

}

