* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1c1a1d;
  color: hsl(0, 0%, 10%);
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Atkinson Hyperlegible Next';
  padding-left: 5%;
  padding-right: 5%;
}


h1 {
  
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 10rem;
  line-height: 1em;
  margin: 0;
}



h2 {
  color: white;
  accent-color: white;
  font-weight: 500;
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0,5;
}


h4 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}



p {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 1em;
}

p.large-text {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}

b {
  font-weight: 600;
}

a {
  color: white;
}





blockquote {
  color: white;
  font-style: italic;
  font-size: 0.9em;
}

nav {
  position: sticky;
  top: 0px;
  z-index: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 0px;
  background-color: rgb(28, 26, 29);
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content:space-between

}



ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

ul li a:hover {
  color: #ff4fbb;
  transition: 0.5s;
}





.primary-button {

  color: white;
  background-color: #1c1a1d;
  border-color: white;
  border-style: solid;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 7em;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1em;
}

.secondary-button {
  color: white;
  background-color: black;
  border-style: solid;
  text-decoration: none;
  padding: 10px;
  min-width: 7em;
  font-weight: 700;
  border-radius: 5px;
}

button:hover {
  color: black;
  background-color: white;
  transition: 1s;
  border-radius: 5px;
  
}

.service-description {
  padding-bottom: 2em;
}

img {
  width: 10em
}

form {
  color: white;
}

input [type=text] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
}

input [type=text]:focus {
  background-color: #bb33ff;

}

.desc {
  color: white;
  font-size: 0.8em;
  font-style: italic;
}



input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 5em;
  border-radius: 5px;
  cursor: pointer;
}



div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

div.gallery-item {
  margin: 5px;
  
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid white;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

.row {
  display: flex;
  align-items: flex-start
}

.column {
  flex: 50%;
  padding-right: 10px
}

.small-image-text-block {
  width: 100%;
  padding-right: 5%;

}


#swatch {
  max-width: 100px;
  margin-right: 2em;
}

#swatch-row {
  margin-bottom: 2em;
}

#component-style {
  margin-right: 1em;
  max-width: 25%;
}

#four-column {
  margin-top: 2em;
  max-width: 75%;
}

#two-column {
  max-width: 50%;
}

.card {
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 7em
}

a {
  text-decoration: underline;
  text-decoration-color: rgb(28, 26, 29);

}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 114, 220);
  transition: 1s;
}

a:focus {
  color: rgb(255, 114, 220);
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}

img.full-image {
  display: flex;
  flex-direction: column;
  width: 50%;

}





footer {
  color: white;
  text-align: center;
  padding: 20px;

}