* {
  box-sizing: border-box;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  background-color: #1c1a1d;
  color: hsl(0, 0%, 10%);
  font-family: 'Atkinson Hyperlegible Next';

}

section {
position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-direction:column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
 
.spacer {
  padding-left:5%;
  padding-right:5%;
  width: 100%
}

.centered {
  display: flex;
  align-items: center;
}

h1 {
  
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size:10em;
  line-height: 1em;
  margin: 0;
}



h2 {
  color: white;
  accent-color: white;
  font-weight: 500;
  font-size: 5em;
  margin-bottom: 0em;
  margin-top: 0;
  
}


h4 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
}



p {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 1em;
}

p.large-text {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}

b {
  font-weight: 600;
}

a {
  color: white;
}


blockquote {
  color: white;
  font-style: italic;
  font-size: 0.9em;
}


sup {
  font-size: 0.5em;
}
nav {
  position: fixed;
  top: 0px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  gap: 0px;
  background-color: #1c1a1d;
  text-align: center;
  width:100%;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content:space-between;
 
}

footer {
 position: absolute;
  bottom: 0px;
  padding: 0%;
  gap: 0px;
  background-color: #1c1a1d;
  text-align: center;
  width:90%;
  display: flex;
  justify-content: center;
  align-self: center;
  border-color: white;
  border-top: solid white 0.2px;

}

.extra-small {
font-size: small;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
}



ul li {
list-style: circle;
list-style-type: circle;
margin-bottom: 0%;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

ul li a:hover {
  color: #ff4fbb;
  transition: 0.5s;
  text-decoration: none;
}




.pink-mode {
color: #ff4fbb;
  background-color: #1c1a1d;
  border-style: none;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 7em;
  border-radius: 5px;
  font-family: 'Atkinson Hyperlegible Next';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  
}

.primary-button {

  color: white;
  background-color: #1c1a1d;
  border-color: white;
  border-style: solid;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 7em;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1em;
  margin-top:2em;
  font-family: 'Atkinson Hyperlegible Next';
}

.secondary-button {
  color: white;
  background-color: black;
  border-style: solid;
  text-decoration: none;
  padding: 10px;
  min-width: 7em;
  font-weight: 700;
  border-radius: 5px;
}

button:hover {
  color: black;
  background-color: white;
  transition: 1s;
  border-radius: 5px;
  
}

button.pink-mode:hover {
  color: white;
  background-color: #1c1a1d;
  transition: 1s;
  border-radius: 5px;
  
}

.icon-text {
  padding-left:5px;
}

.service-description {
  padding-bottom: 2em;
}



form {
  color: white;
}

input [type=text] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
}

input [type=text]:focus {
  background-color: #bb33ff;

}

.desc {
  color: white;
  font-size: 0.8em;
  font-style: italic;
}



input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #1c1a1d;
  border: solid white 0.1px;
  min-height: 2em;
  margin-bottom: 1em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 5em;
  border-radius: 5px;
  cursor: pointer;
}



div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

div.gallery-item {
  margin: 5px;
  
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid white;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}


.column-small {
  max-width: 35%;
  padding-right: 10px
  
}

.column-large {
  max-width:75%;
  padding-right: 5%;
  min-width:50%;
}

.container {
  display: flex;
  min-width: 100%;
  
}

.column-full {
  width:100%;
}

@media only screen and (max-width: 500px) {
.row {
  display: flex;
  align-items: flex-start;
  flex-direction:column;
}

}

@media only screen and (max-height: 800px) {
h1 {
  
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size:7em;
  line-height: 1em;
  margin: 0;
}

h2 {
  font-size: 4em;
}

p.large-text {
  color: white;
  font-weight: 300;
  font-size: 1.25em;
}

nav {

  padding-top: 15px;
  padding-bottom: 15px;

}

ul li a {
  font-size: 1em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}



}

.small-image-text-block {
  width: 100%;
  padding-right: 5%;

}   


.chevron::after {
  content:'\f078';  
  font-family: 'Font Awesome 5 Free';
  font-size: 2rem;
  font-weight: 900
}


.accordion {
  display: flex;
  font-family: 'Atkinson Hyperlegible Next';
  font-size: 1em;
  background-color: #1c1a1d;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  align-items: center;
  margin-left:0
}

.accordion-small {
    display: flex;
  font-family: 'Atkinson Hyperlegible Next';
  font-size: 1em;
  background-color: #1c1a1d;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  align-items: center;
  margin-left:0
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #1c1a1d;
  border-bottom: solid white;
  border-radius: 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  
  background-color: #1c1a1d;
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

.accordion:after {
  content: '\f078'; /* Unicode character for "plus" sign (+) */
  font-size: 1.5em;
  color: white;
  float: right;
   font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left:1em
}

.active:after {
 content: '\f077'; /* Unicode character for "plus" sign (+) */
  font-size: 1.5em;
  color: white;
  float: right;
   font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left:1em /* Unicode character for "minus" sign (-) */
}




#swatch {
  max-width: 100px;
  margin-right: 2em;
}

#swatch-row {
  margin-bottom: 2em;
}

#component-style {
  margin-right: 1em;
  max-width: 25%;
}

#img-row {
margin-right: 1%
}

#two-column {
  max-width: 50%;
}

.card {
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  padding: 1em;
}

.brief {
  list-style-type: circle;
  color: white;
  padding-left: 1em;

}

a {
  text-decoration: underline;
  text-decoration-color: rgb(28, 26, 29);

}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 114, 220);
  transition: 1s;
}

a:focus {
  color: rgb(255, 114, 220);
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}

img.full-image {
  display: flex;
  flex-direction: column;
  width: 100%;

}

img.large-image {
  display: flex;
  flex-direction: column;
  width: 80%;

}



.fullscreen-image {
  align-items: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}
  
.imagetest1 {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

